{%- assign recaptcha_enabled = true -%}
{% assign sitetags = "" | split: ',' %}
{% for tag in site.tags %}
  {% assign sitetags = sitetags | push: tag[0] %}
  {% assign sitetags = sitetags | push: "|" %}
{% endfor %}

{% assign sitecats = "" | split: ',' %}
{% for cat in site.categories %}
  {% assign sitecats = sitecats | push: cat[0] %}
  {% assign sitecats = sitecats | push: "|" %}
{% endfor %}

{% assign sitetags = "" | split: ',' %}
{% for tag in site.tags %}
  {% assign sitetags = sitetags | push: tag[0] %}
  {% assign sitetags = sitetags | push: "|" %}
{% endfor %}

{% assign globalcats = "" | split: ',' %}
{% for cat in site.data.categories %}
  {% assign globalcats = globalcats | push: cat %}
  {% assign globalcats = globalcats | push: "|" %}
{% endfor %}  

{% assign globaltags = "" | split: ',' %}
{% for tag in site.data.tags %}
  {% assign globaltags = globaltags | push: tag %}
  {% assign globaltags = globaltags | push: "|" %}
{% endfor %}  

<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script>
	function setText(elementId, textContent) {
		document.getElementById(elementId).textContent = textContent;
	};

	function show(elementId) {
		document.getElementById(elementId).style.display = 'inline';
	};

	function hide(elementId) {
		document.getElementById(elementId).style.display = 'none';
	};

	function getValue(elementId) {
		return document.getElementById(elementId).value;
	};

	function setValue(elementId, value) {
		return document.getElementById(elementId).value = value;
	};

	function fadeIn(element) {
		var duration = 400;
		element.style.opacity = 0;
		let opacity = 0;
		const timer = setInterval(function() {
		  opacity += 50 / duration;
		  if (opacity >= 1) {
		    clearInterval(timer);
		    opacity = 1;
		  }
		  element.style.opacity = opacity;
		}, 50);
	};

	function disableButtonWithLoader(elementId) {
		var buttonToDisable = document.getElementById(elementId);
		if (buttonToDisable == null) {
			return;
		}
		buttonToDisable.disabled = true;
		setText(elementId, "\xa0");
	}

	function disablePostProposalButton() {
		disableButtonWithLoader("proposal-submit");
	};

	function enablePostProposalButton() {
		var postProposalButton = document.getElementById("proposal-submit");
		postProposalButton.disabled = false;
		setText("proposal-submit", "Post");
	};

  var loadRecaptcha = document.createElement("script");
  loadRecaptcha.src = "https://www.google.com/recaptcha/api.js?render={{ site.google_forms_proposals.recaptcha_site_key }}";
  document.head.appendChild(loadRecaptcha);

	const EXTRA_INFO_START = "chunkedProposalInfoStart";
	const EXTRA_INFO_END = "chunkedProposalInfoEnd";

	var globalCategories = [];
	var globalTags = [];

	function formatDate(stringDate) {
		var date = new Date(stringDate);
		var dateOptions = { year: 'numeric', month: 'long', day: 'numeric'};
		var timeOptions = { hour: 'numeric', minute: 'numeric' };
		return `${date.toLocaleDateString("en-us", dateOptions)} at ${date.toLocaleTimeString("en-us", timeOptions)}`;
	};

  function smoothScrollTo(element) {
		element.scrollIntoView({
		  behavior: "smooth",
		  block: "start",
		  inline: "nearest"
		});
	};

	const encodeFormData = (data) => {
    return Object.keys(data)
        .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
        .join('&');
	};

	function checkRecaptcha() {
    grecaptcha.ready(function() {
      var pageAction = "comment_submit_{{ page.title }}".replace(/[^A-Za-z/_]/g, "");
      grecaptcha.execute('{{ site.google_forms_proposals.recaptcha_site_key }}', { action: pageAction }).then(function(token) {
        postProposal(token);
      });
    });
    return false;
  };

	function postProposal(recaptchaToken) {
		disablePostProposalButton();
    
		var type = getValue("proposal-type") || "Individual";
		var name = getValue("proposal-name") || ""
		var linkedin = getValue("proposal-linkedin") || "";
		var youtube = getValue("proposal-youtube") || "";
		var twitter = getValue("proposal-twitter") || "";
		var github = getValue("proposal-github") || "";
		var blog = getValue("proposal-blog") || "";
		var categories = JSON.parse(getValue("proposal-categories")).map(item => item.value).join(', ') || '[]'
		var tags = JSON.parse(getValue("proposal-topics")).map(item => item.value).join(', ') || '[]'
		var about = getValue("proposal-about") || "";
		var excerpt = getValue("proposal-excerpt") || "";
		var yourname = getValue("proposal-yourname") || "";
		var yourlinkedin = getValue("proposal-yourlinkedin") || "";

    if (!linkedin && !youtube && !twitter && !blog && !github) {
      setText("proposal-submit-error", "At least one social URL must be specified");
      show("proposal-submit-error");
      hide("proposal-submit-info");
      smoothScrollTo(document.getElementById('proposal-submit-error'));
      enablePostProposalButton();
      return;
    }

		fetch(`{{ site.google_forms_proposals.google_app_script }}`, {
		  method: 'POST',
		  mode: 'cors',
		  redirect: "follow",
		  headers: {
		    "Content-Type": "text/plain;charset=utf-8"
		  },
		  body: JSON.stringify({
        type,
        name,
        linkedin,
        youtube,
        twitter,
        github,
        blog,
        categories,
        tags,
        excerpt,
        about,
        yourname,
        yourlinkedin,
		  	recaptchaToken: (recaptchaToken || null)
		  })
		})
    .then(response => response)
    .then(response => response.json())
		.then(response => {
			var error = response?.error || null;
			if (error != null) {
				console.error(error);
				setText("proposal-submit-error", error);
        smoothScrollTo(document.getElementById('proposal-submit-error'));
        hide("proposal-submit-info");
				show("proposal-submit-error");
			} else {
        setValue("proposal-type", 'Individual');
        setValue("proposal-name", '');
        setValue("proposal-linkedin", '');
        setValue("proposal-youtube", '');
        setValue("proposal-twitter", '');
        setValue("proposal-github", '');
        setValue("proposal-blog", '');
        setValue("proposal-categories", '');
        setValue("proposal-topics", '');
        setValue("proposal-about", '');
        setValue("proposal-excerpt", '');
        setValue("proposal-yourname", '');
        setValue("proposal-yourlinkedin", '');
				show("proposal-submit-info");
        hide("proposal-submit-error");
        smoothScrollTo(document.getElementById('proposal-submit-info'));
				setText("proposal-submit-info", 'Successfully submitted, Thank you!');
			}
		})
		.catch(error => {
      console.log(error);
      smoothScrollTo(document.getElementById('proposal-submit-error'));
      setText("proposal-submit-error", error);
      hide("proposal-submit-info");
      show("proposal-submit-error");
    })
		.finally(() => { enablePostProposalButton(); });

		return false;
	};

  async function loadGlobalData() {
    await fetch(`{{ site.google_forms_proposals.google_app_script }}?pending=true`)
      .then(response => response.json())
      .then(response => {
        console.log(response);
        var error = response?.error || null;
        if (error != null) {
          document.getElementById('pending-proposals').innerText = 'N/A';
        } else {
          document.getElementById('pending-proposals').innerText = '[ ' + (response ? response.count : 0) + ' ]';
        }
      });

    var globalcats = '{{ globalcats }}'
    globalcats.split('|').forEach(cat => cat ? globalCategories.push(cat) : '');
    var globaltags = '{{ globaltags}}';
    globaltags.split('|').forEach(tag => tag ? globalTags.push(tag) : '');

    var sitecats = {{ sitecats | split: '|' }};
    sitecats.forEach(element => {
      if (element && !globalCategories.includes(element)) globalCategories.push(element);
    });
    globalCategories.sort();
    new Tagify(document.querySelector('#proposal-categories'), {
      whitelist: globalCategories,
      dropdown: {
        enforceWhitelist: false,
        enabled: 0,               // show the dropdown immediately on focus
        maxItems: 5,
        position: "text",         // place the dropdown near the typed text
        closeOnSelect: false,      // keep the dropdown open after selecting a suggestion
        highlightFirst: false
      }
    });

    var sitetags = {{ sitetags | split: '|' }};
    sitetags.forEach(element => {
      if (element && !globalTags.includes(element)) globalTags.push(element);
    });
    globalTags.sort();
    new Tagify(document.querySelector('#proposal-topics'), {
      whitelist: globalTags,
      dropdown: {
        enforceWhitelist: false,
        enabled: 0,               // show the dropdown immediately on focus
        maxItems: 5,
        position: "text",         // place the dropdown near the typed text
        closeOnSelect: false,      // keep the dropdown open after selecting a suggestion
        highlightFirst: false
      }
    });

  }

  loadGlobalData();
</script>

<h4 class="post-update-title">Proposals under review: <span id="pending-proposals"></span></h4>
<div id="proposals-and-input">
  <h4 class="post-subtitle">I am proposing</h4>
	<div class="comments">
		<div class="proposal-info-text">
			<p>Note that the proposals are moderated, it may appear after sometime if found appropriate.</p>
		</div>	
    <div class="proposals-form">
			<form onsubmit="return checkRecaptcha()" id="proposal-form" autocomplete="off">
      <div class="proposal-info-text" id="proposal-info-text">
        <p id="proposal-submit-error"></p>
        <p id="proposal-submit-info"></p>
      </div>	
      <ul>
        <li class="proposal-box">
          <input id="proposal-name" name="name" type="text" placeholder="Name*" value="" required="">
          <dd class="description">I am inspired by...</dd>
        </li>
        <li class="proposal-box">
          <select id="proposal-type" name="type">
            <option value="Individual">Individual</option>
            <option value="Community">Community</option>
            <option value="Company">Company</option>
          </select>          
          <dd class="description">Influencer type</dd>
        </li>
        <div id="proposal-group" class="proposal-group flex-2-cols">
          <li class="proposal-box">
            <input id="proposal-linkedin" name="linkedin" type="text" placeholder="LinkedIn" value="">
            <dd class="description">LinkedIn Profile URL</dd>
          </li>
          <li class="proposal-box">
            <input id="proposal-youtube" name="youtube" type="text" placeholder="YouTube" value="">
            <dd class="description">YouTube Profile URL</dd>
          </li>
          <li class="proposal-box">
            <input id="proposal-twitter" name="twitter" type="text" placeholder="Twitter" value="">
            <dd class="description">Twitter Profile URL</dd>
          </li>
          <li class="proposal-box">
            <input id="proposal-github" name="github" type="text" placeholder="GitHub" value="">
            <dd class="description">GitHub Profile URL</dd>
          </li>
          <li class="proposal-box">
            <input id="proposal-blog" name="blog" type="text" placeholder="Blog" value="">
            <dd class="description">Blog URL</dd>
          </li>
          <li class="proposal-box"></li>
          <dd class="proposal-group-description" id="proposal-group-description">Provide at least one URL to locate the influencer.*</dd>
        </div>
        <li class="proposal-box">
          <textarea id="proposal-categories" name="categories" placeholder="Categories*" required=""></textarea>
          <dd class="description">A list of categories their expertise spans - one category per line preferred.</dd>
        </li>
        <li class="proposal-box">
          <textarea id="proposal-topics" name="topics" placeholder="Topics*" required=""></textarea>
          <dd class="description">A list of topics that can quickly identify their expertise and knowledge domain - one topic per line or a comma-separated text preferred.</dd>
        </li>
        <li class="proposal-box">
          <textarea id="proposal-excerpt" name="excerpt" placeholder="Excerpt"></textarea>
          <dd class="description">A brief intro on the influencer.</dd>
        </li>
        <li class="proposal-box">
          <textarea id="proposal-about" name="about" placeholder="About"></textarea>
          <dd class="description">Anything more you want to say about this influencer.</dd>
        </li>
        <div id="proposal-group" class="proposal-group flex-2-cols">
          <li class="proposal-box">
            <input id="proposal-yourname" name="yourname" type="text" placeholder="Your Name" value="">
            <dd class="description">Your Name</dd>
          </li>
          <li class="proposal-box">
            <input id="proposal-yourlinkedin" name="yourlinkedin" type="text" placeholder="Your LinkedIn Profile URL" value="">
            <dd class="description">Your LinkedIn profile URL</dd>
          </li>
          <dd class="proposal-group-description" id="proposal-group-description">If shared, you will be recognized as the contributor.</dd>
        </div>
        <li><button id="proposal-submit" type="submit" class="proposal-button">Submit</button></li>
      </ul>
      <p id="proposal-recaptcha-disclaimer">This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
      </form>
		</div>
	</div>
</div>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.proposal-item {
	position: relative;
	padding: 0.5em 0.5em;
	background: white;
	font-family: "Source Sans Pro", sans-serif;
	width: 95%;
	margin: 0.5em auto;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.proposal-item:after {
	content: "";
	position: relative;
	display: block;
	clear: both;
}

.proposal-item p {
	line-height: 1.6;
  margin-bottom: 0.25rem;
}

.proposal-item small {
	padding-left: 0.7em;
	color: #999;
	font-size: 0.8em;
}

.commenter-name {
	color: #367588;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
  margin-bottom: 0.5rem !important;
}

.commenter-name strong {
	color: #e91e63;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
}

.commenter-name div p {
  margin-bottom: 0.5rem;
}

#proposal-reply-info p {
	margin: 0;
}

.proposals-form {
	margin-left: 1em;
	margin-right: 1em;
	width: 95%;
	font-family: "Source Sans Pro", sans-serif;
}

.proposals-form ul {
	list-style: none;
	margin-left: -40px;
}

.proposals-form ul li {
	margin-bottom: 5px;
}

.comments {
	align-items: center;
	border-top: 0.5px solid #e5e5e5;
	padding-top: 1rem;
	position: relative;
}

.proposal-button {
	border: 0;
	border-radius: 8px;
	background: #9ccc65;
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-bottom: 20px;
	outline-style: none;
	padding: 10px 20px;
	width: auto;
	min-width: 25%;
}

#proposal-submit {
	width: auto;
	min-width: 25%;
	position: relative;
}

.proposal-button:disabled::after,
.proposal-button[disabled]::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: button-loading-spinner 1s ease infinite;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

#load-more-comments {
	width: auto;
}

#load-more-comments,
#num-proposals-displayed {
	display: none;
}

.proposal-group {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.proposal-error-group {
  color: red;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.proposal-box {
  /* padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px; */
}

.tagify,
#proposal-type,
#proposal-name,
#proposal-linkedin,
#proposal-youtube,
#proposal-twitter,
#proposal-github,
#proposal-blog,
#proposal-categories,
#proposal-topics,
#proposal-excerpt,
#proposal-about,
#proposal-yourname,
#proposal-yourlinkedin {
	width: 100%;
	padding: 10px;
	border: 0;
	border-radius: 8px;
	background: #f7f7f7;
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-type::-webkit-input-placeholder,
#proposal-name::-webkit-input-placeholder,
#proposal-linkedin::-webkit-input-placeholder,
#proposal-youtube::-webkit-input-placeholder,
#proposal-twitter::-webkit-input-placeholder,
#proposal-github::-webkit-input-placeholder,
#proposal-blog::-webkit-input-placeholder,
#proposal-categories::-webkit-input-placeholder,
#proposal-topics::-webkit-input-placeholder,
#proposal-about::-webkit-input-placeholder,
#proposal-excerpt::-webkit-input-placeholder,
#proposal-yourname::-webkit-input-placeholder,
#proposal-yourlinkedin::-webkit-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-type::-moz-placeholder,
#proposal-name::-moz-placeholder,
#proposal-linkedin::-moz-placeholder,
#proposal-youtube::-moz-placeholder,
#proposal-twitter::-moz-placeholder,
#proposal-github::-moz-placeholder,
#proposal-blog::-moz-placeholder,
#proposal-categories::-moz-placeholder,
#proposal-topics::-moz-placeholder,
#proposal-about::-moz-placeholder,
#proposal-excerpt::-moz-placeholder,
#proposal-yourname::-moz-placeholder,
#proposal-yourlinkedin::-moz-placeholder {  
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-type:-ms-input-placeholder,
#proposal-name:-ms-input-placeholder,
#proposal-linkedin:-ms-input-placeholder,
#proposal-youtube:-ms-input-placeholder,
#proposal-twitter:-ms-input-placeholder,
#proposal-github:-ms-input-placeholder,
#proposal-blog:-ms-input-placeholder,
#proposal-categories:-ms-input-placeholder,
#proposal-topics:-ms-input-placeholder,
#proposal-about:-ms-input-placeholder,
#proposal-excerpt:-ms-input-placeholder,
#proposal-yourname:-ms-input-placeholder,
#proposal-yourlinkedin:-ms-input-placeholder {  
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-type::-ms-input-placeholder,
#proposal-name::-ms-input-placeholder,
#proposal-linkedin::-ms-input-placeholder,
#proposal-youtube::-ms-input-placeholder,
#proposal-twitter::-ms-input-placeholder,
#proposal-github::-ms-input-placeholder,
#proposal-blog::-ms-input-placeholder,
#proposal-categories::-ms-input-placeholder,
#proposal-topics::-ms-input-placeholder,
#proposal-about::-ms-input-placeholder,
#proposal-excerpt::-ms-input-placeholder,
#proposal-yourname::-ms-input-placeholder,
#proposal-yourlinkedin::-ms-input-placeholder {  
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-type::placeholder,
#proposal-name::placeholder,
#proposal-linkedin::placeholder,
#proposal-youtube::placeholder,
#proposal-twitter::placeholder,
#proposal-github::placeholder,
#proposal-blog::placeholder,
#proposal-categories::placeholder,
#proposal-topics::placeholder,
#proposal-about::placeholder,
#proposal-excerpt::placeholder,
#proposal-yourname::placeholder,
#proposal-yourlinkedin::placeholder {  
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-type:focus,
#proposal-name:focus,
#proposal-linkedin:focus,
#proposal-youtube:focus,
#proposal-twitter:focus,
#proposal-github:focus,
#proposal-blog:focus,
#proposal-categories:focus,
#proposal-topics:focus,
#proposal-about:focus,
#proposal-excerpt:focus,
#proposal-yourname:focus,
#proposal-yourlinkedin:focus {  
	background: #fff;
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-topics,
#proposal-categories,
#proposal-excerpt,
#proposal-about {
	width: 100%;
	height: 80px;
	resize: vertical;
	min-height: 80px;
}

.description,
.proposal-group-description {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 5px;
}

.proposal-group-description {
  margin-bottom: 15px;
}

.grecaptcha-badge {
	visibility: hidden;
}

#proposal-recaptcha-disclaimer {
	text-align: justify;
    text-align-last: center;
    font-size: .7em;
	font-family: "Source Sans Pro", sans-serif;
}

#proposal-submit-error {
	color: red;
	display: none;
}

#proposal-submit-info {
	color: #2a8d7b;
	display: none;
}

.proposal-info-text {
	letter-spacing: 0.5px;
  text-align: left;
}

.proposal-info-text p {
	margin: 0 0 1rem;
	/* text-align: justify; */
  text-align-last: left;
  font-size: .7em;
}

#proposal-container {
	width: 100%;
}

.post-subtitle {
  margin-top: 1.25rem;
}

.post-update-title {
  font-size: 0.75rem;
}

#proposal-section, #load-comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-2-cols {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 48%;
    margin: 5px;
    box-sizing: border-box;
  }
}

.flex-5-cols {
  @include flex-grid-items(5)
}

.flex-9-cols {
  @include flex-grid-items(9)
}
/* .tagify{    
  width: 100%;
  max-width: 700px;
} */
</style>
