---
layout: page
---

{{ content }}

<ul class="taxonomy-index" style="grid-column-gap: 10px; grid-template-columns: repeat(30, 32px)">
  <!-- {%- assign lang = site.locale | slice: 0,2 | default: "en" -%} -->

  {% assign postsByTitle = site.posts | sort: "title" %}
  {% assign postsInAlphabet = postsByTitle | group_by_exp: 'post', 'post.title | slice: 0,1' %}

  {% for letter in postsInAlphabet %}
    <li>
      <a href="#{{ letter.name }}">
        <strong>{{ letter.name }}</strong> <span class="taxonomy-count" style="font-size: 12px">{{ letter.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByletter = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for letter in postsInAlphabet %}
  <section id="{{ letter.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ letter.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for entry in letter.items %}
        {% include entry.html %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
